<%- include("./partials/header") %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">SIGN UP</h1>
        <div style="width: 30%; margin: 30px auto;">
            <form action="/register" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
                 <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-default btn-block">SIGN UP!</button>
                </div>
            </form>
			<div class="text-right">
				<p>
					<a href="/personalidades">Voltar às Personalidades</a>
				</p>
				<p>
					<a href="/locais">Voltar aos Locais</a>
				</p>
				<p>
					<a href="/eventos">Voltar aos Eventos</a>
				</p>
			</div>
        </div>
    </div>
</div>



<%- include("./partials/footer") %>
